* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  ul {
    display: flex;
    gap: 28px;
    li {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #444444;
      cursor: pointer;
      transition: 0.3s linear;
      &:hover {
        color: #e6b939;
      }
    }
  }
  form {
    display: flex;
    gap: 20px;
    .b1 {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      padding: 10px 18px;
      background: #575445;
      border-radius: 6px;
      border: none;
      transition: 0.3s linear;
      &:hover {
        background-color: #e6b939;
        cursor: pointer;
        transform: rotateX(360deg);
      }
    }
    .b2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      background: #575445;
      border-radius: 6px;
      border: none;
      padding: 10px 25px;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: 0.3s linear;
      &:hover {
        background-color: #e6b939;
        cursor: pointer;
        transform: rotateY(360deg);
      }
    }
  }
  article {
    display: none;
  }
}
.wrapper {
  width: 100%;
  img {
    width: 100%;
    position: relative;
  }
  .p1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e6b939;
    position: absolute;
    top: 218px;
    left: 137px;
  }
  h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
    position: absolute;
    top: 237px;
    left: 137px;
    width: 416px;
  }
  .p2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #caccd1;
    position: absolute;
    top: 362px;
    left: 137px;
    width: 495px;
  }
}
.wrapper2 {
  width: 100%;
  .shape {
    background-image: url(./images/shape.svg);
    width: 250px;
    height: 256px;
    margin-left: 580px;
    margin-top: -30px;
  }
  .shape2 {
    background-image: url(./images/shape.svg);
    width: 250px;
    height: 256px;
    margin-left: px;
    margin-top: -120px;
  }
  .wrap1 {
    display: flex;
    gap: 200px;

    img {
      margin-top: -120px;
      padding-left: 120px;
    }
    .p1 {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #e6b939;
    }
    h1 {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 43px;
      color: #575445;
      margin-bottom: 8px;
    }
    .p2 {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #575445;
      width: 384px;
      margin-bottom: 20px;
    }
    a {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #575445;
      text-decoration: none;
      img {
        margin-left: -120px;
      }
    }
  }
}
.wrapper3 {
  width: 100%;
  .shape2 {
    background-image: url(./images/shape2.svg);
    background-repeat: no-repeat;
    width: 470px;
    height: 423px;
    margin-left: 1050px;
  }
  .shape3 {
    background-image: url(./images/shape3.svg);
    background-repeat: no-repeat;
    width: 554px;
    height: 434px;
    margin-top: -320px;
  }
  .p1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e6b939;
    margin-top: -300px;
  }
  h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #575445;
  }
  .p2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #575445;
    margin-top: 7px;
    margin-left: 490px;
    width: 538px;
  }
  .wrap2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 160px;
    .card1 {
      width: 388px;
      height: 275px;
      img {
        padding-left: 162px;
        margin-bottom: 10px;
        margin-top: 71px;
      }
      h1 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #575445;
        margin-bottom: 9px;
      }
      p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #575445;
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}
.wrapper4 {
  width: 100%;
  .p1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e6b939;
    margin-top: 99px;
  }
  h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #575445;
    margin-bottom: 7px;
  }
  .p2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #575445;
    width: 480px;
    margin-left: 520px;
  }
  .wrap3 {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 21px;
    margin-left: 170px;
    margin-bottom: 21px;
    .card2 {
      .content {
        width: 379px;
        height: 473px;
        background-image: url(./images/IMAGE1.jpg);
        h1 {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 28px;
          line-height: 34px;
          text-align: center;
          color: #575445;
          padding-top: 39px;
        }
        p {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #575445;
          padding-left: 63px;
          padding-right: 63px;
          margin-top: 9px;
        }
        a {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          color: #575445;
          text-decoration: none;
          padding-left: 125px;
          img {
            margin-top: 20px;
          }
        }
      }
    }
    .card2 {
      .content2 {
        width: 379px;
        height: 473px;
        background-image: url(./images/IMAGE2.jpg);
        h1 {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 28px;
          line-height: 34px;
          text-align: center;
          color: #575445;
          padding-top: 39px;
        }
        p {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #575445;
          padding-left: 63px;
          padding-right: 63px;
          margin-top: 9px;
        }
        a {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          color: #575445;
          text-decoration: none;
          padding-left: 125px;
          img {
            margin-top: 20px;
          }
        }
      }
    }
    .card2 {
      .content3 {
        width: 379px;
        height: 473px;
        background-image: url(./images/IMAGE3.jpg);
        h1 {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 28px;
          line-height: 34px;
          text-align: center;
          color: #575445;
          padding-top: 39px;
        }
        p {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #575445;
          padding-left: 63px;
          padding-right: 63px;
          margin-top: 9px;
        }
        a {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          color: #575445;
          text-decoration: none;
          padding-left: 125px;
          img {
            margin-top: 20px;
          }
        }
      }
    }
    .card2 {
      .content4 {
        width: 379px;
        height: 473px;
        background-image: url(./images/IMAGE4.jpg);
        h1 {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 28px;
          line-height: 34px;
          text-align: center;
          color: #575445;
          padding-top: 39px;
        }
        p {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #575445;
          padding-left: 63px;
          padding-right: 63px;
          margin-top: 9px;
        }
        a {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          color: #575445;
          text-decoration: none;
          padding-left: 125px;
          img {
            margin-top: 20px;
          }
        }
      }
    }
    .card2 {
      .content5 {
        width: 379px;
        height: 473px;
        background-image: url(./images/IMAGE5.jpg);
        h1 {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 28px;
          line-height: 34px;
          text-align: center;
          color: #575445;
          padding-top: 39px;
        }
        p {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #575445;
          padding-left: 63px;
          padding-right: 63px;
          margin-top: 9px;
        }
        a {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          color: #575445;
          text-decoration: none;
          padding-left: 125px;
          img {
            margin-top: 20px;
          }
        }
      }
    }
    .card2 {
      .content6 {
        width: 379px;
        height: 473px;
        background-image: url(./images/IMAGE6.jpg);
        h1 {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 28px;
          line-height: 34px;
          text-align: center;
          color: #575445;
          padding-top: 39px;
        }
        p {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #575445;
          padding-left: 63px;
          padding-right: 63px;
          margin-top: 9px;
        }
        a {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          color: #575445;
          text-decoration: none;
          padding-left: 125px;
          img {
            margin-top: 20px;
          }
        }
      }
    }
  }
  .link {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
    padding-left: 680px;
    text-decoration: none;
  }
}
.wrapper5 {
  width: 100%;
  position: relative;
  margin-top: 100px;
  img {
    width: 100%;
  }
  .links {
    display: flex;
    align-items: center;
    background: #292c32;
    border-radius: 16px;
    width: 615px;
    height: 48px;
    gap: 18px;
    position: absolute;
    top: 550px;
    left: 850px;

    img {
      width: 16px;
      height: 16px;
      margin-left: 10px;
    }
    a {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 12px;
      color: #ffffff;
      text-decoration: none;
    }
  }
}
.wrapper6 {
  width: 100%;
  background: #375c58;
  border-radius: 0px;
  margin-top: -4px;
  .content2 {
    width: 100%;
    height: 393px;
    background-image: url(./images/shape4.svg);
    .p1 {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fafafc;
      padding-top: 99px;
    }
    h1 {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
      color: #e6b939;
      margin-bottom: 7px;
    }
    .p2 {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #fafafc;
      width: 480px;
      margin-left: 520px;
    }
    button {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #575445;
      background: #ffffff;
      border-radius: 6px;
      padding: 10px 18px;
      border: none;
      margin-left: 710px;
      margin-top: 21px;
    }
  }
}
.wrapper7 {
  width: 100%;
  .p1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e6b939;
    padding-top: 99px;
    padding-left: 180px;
  }
  h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #575445;
    margin-bottom: 7px;
    padding-left: 180px;
  }
  .p2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #575445;
    width: 538px;
    margin-left: 180px;
  }
  .wrap4 {
    margin-left: 180px;
    margin-top: 21px;
    display: flex;
    gap: 32px;
    .card3 {
      p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #575445;
        margin-top: 18px;
      }
    }
  }
  .wrap5 {
    display: flex;
    padding-left: 180px;
    gap: 38px;
    .card4 {
      display: flex;
      margin-top: 12px;
      align-items: center;

      .text {
        .p1 {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #575445;
          margin-top: -80px;
          margin-left: -160px;
        }
        .p2 {
          font-family: sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 15px;
          color: #e6b939;
          margin-left: 20px;
        }
      }
      p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #6f7278;
        margin-left: -150px;
      }
    }
  }
  a {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #575445;
    text-decoration: none;
    padding-left: 660px;
    img {
      margin-top: 35px;
    }
  }
  .wrap6 {
    display: flex;
    margin-top: 200px;
    .card6 {
      .p1 {
        margin-top: 100px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #e6b939;
      }
      h1 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        color: #575445;
        width: 560px;
      }
      .p2 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #575445;
        margin-top: 7px;
        width: 340px;
      }
      a {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        color: #575445;
        margin-left: -480px;
        margin-top: 20px;
      }
    }
    .card5 {
      img {
        padding-left: 180px;
        margin-bottom: 100px;
      }
    }
  }
}
footer {
  width: 100%;
  background: #575445;
  border-radius: 0px;
  img {
    padding-top: 100px;
    padding-left: 670px;
  }
  .wrap7 {
    display: flex;
    align-items: baseline;
    .card7 {
      padding-left: 136px;
      p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #e6b939;
        margin-bottom: 9px;
        margin-top: 75px;
      }
      li {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        margin-bottom: 9px;
        cursor: pointer;
      }
    }
    .card8 {
      margin-left: 100px;
      .p1 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #e6b939;
      }
      .p2 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #fafafc;
        width: 438px;
      }
      input {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #575445;
        background: #f9fafb;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 17px 250px 16px 20px;
        margin-top: 8px;
      }
      button {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        padding: 10px 11px;
        background: #575445;
        border-radius: 10px;
        border: none;
        margin-left: -70px;
      }
    }
  }
  .card9 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 100px;
    .icons2 {
      display: none;
    }
    .p3 {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
      margin-top: 30px;
      margin-left: 136px;
    }
    .icons {
      display: flex;
      margin-right: 136px;
      img {
        margin-left: -650px;
      }
    }
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      padding-left: 20px;
    }
    ul {
      display: flex;
    }
    form {
      .b1 {
        display: block;
      }
      .b2 {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
    }
    article {
      display: none;
      padding-right: 20px;
      font-size: 20px;
    }
  }
  .wrapper {
    width: 100%;
    .p1 {
      font-size: 15px;
      top: 250px;
      left: 25px;
    }
    h1 {
      font-size: 32px;
      top: 280px;
      left: 25px;
      width: 240px;
      line-height: 30px;
    }
    .p2 {
      font-size: 17px;
      top: 350px;
      left: 25px;
      width: 420px;
      line-height: 20px;
    }
  }
  .wrapper2 {
    width: 100%;
    .shape {
      margin-left: 750px;
    }
    .shape2 {
      margin-top: -250px;
      margin-left: 100px;
    }
    .wrap1 {
      display: flex;
      img {
        width: 500px;
        margin-top: -150px;
        padding-left: 50px;
      }
      .cards {
        .p1 {
          font-size: 17px;
          margin-left: -100px;
        }
        h1 {
          font-size: 32px;
          margin-left: -100px;
        }
        .p2 {
          font-size: 15px;
          width: 400px;
          margin-left: -100px;
        }
        a {
          text-align: center;
          display: block;
          margin-left: -430px;
          img {
            display: block;
            width: 30px;
            margin-left: 395px;
            margin-top: -14px;
          }
        }
      }
    }
  }
  .wrapper3 {
    width: 100%;
    .shape2 {
      margin-left: 790px;
      width: 400px;
      height: 400px;
    }
    .shape3 {
      width: 450px;
      height: 400px;
    }
    .p1 {
      font-size: 17px;
    }
    h1 {
      font-size: 32px;
    }
    .p2 {
      font-size: 15px;
      margin-left: 390px;
      width: 400px;
    }
    .wrap2 {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0px;
      padding-left: 0px;
      gap: 20px;
      .card1 {
        width: 380px;
        img {
          padding-left: 160px;
        }
      }
    }
  }
  .wrapper4 {
    width: 100%;
    .cards2 {
      .p1 {
        font-size: 17px;
        text-align: center;
      }
      h1 {
        font-size: 32px;
        text-align: center;
      }
      .p2 {
        font-size: 15px;
        margin-left: 390px;
        width: 400px;
      }
    }
    .wrap3 {
      margin-left: 15px;
      display: flex;
      gap: 20px;
    }
    .link {
      display: block;
      text-align: center;
      padding-left: 0;
      img {
        display: block;
        margin-left: 665px;
        margin-top: -15px;
      }
    }
  }
  .wrapper5 {
    width: 100%;
    img {
      width: 100%;
      height: 500px;
      margin-top: -20px;
    }
    .links {
      top: 420px;
      left: 580px;
      width: 600px;
      img {
        margin-top: 5px;
        display: flex;
        align-items: center;
        margin-left: 10px;
      }
      a {
        display: block;
      }
    }
  }
  .wrapper6 {
    width: 100%;
    .content2 {
      .p1 {
        font-size: 17px;
        text-align: center;
      }
      h1 {
        font-size: 32px;
        text-align: center;
      }
      .p2 {
        font-size: 15px;
        margin-left: 390px;
        width: 400px;
      }
      button {
        margin-left: 0;
        font-size: 17px;
        padding: 8px 16px;
        margin-left: 540px;
      }
    }
  }
  .wrapper7 {
    width: 100%;
    .p1 {
      font-size: 17px;
      text-align: center;
      padding-left: 0;
    }
    h1 {
      font-size: 32px;
      text-align: center;
      padding-left: 0;
    }
    .p2 {
      font-size: 15px;
      margin-left: 390px;
      width: 400px;
      text-align: center;
    }
    .wrap4 {
      display: flex;
      margin-left: 30px;
      .card3 {
        img {
          width: 550px;
        }
        p {
          font-size: 20px;
          line-height: 20px;
          margin-top: 5px;
          padding-left: 10px;
          margin-bottom: 100px;
        }
      }
    }
    .wrap5 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .card44 {
        margin-top: -130px;
        margin-left: 0px;
      }
      .card444 {
        margin-top: -130px;
        margin-left: 27 0px;
      }
      .card4 {
        img {
          margin-left: -140px;
          padding-left: 0;
        }
        .text {
          margin-left: -80px;
          margin-right: 90px;
          .p1 {
            font-size: 12px;
            margin-left: 0px;
            margin-top: -90px;
          }
          .p2 {
            font-size: 12px;
            margin-left: 0px;
          }
        }
      }
    }
    a {
      margin-left: -180px;
      img {
        display: block;
        margin-left: 640px;
        margin-top: -14px;
      }
    }
    .wrap6 {
      width: 100%;
      display: flex;
      margin-top: 30px;
      .card5 {
        img {
          width: 450px;
          height: 450px;
          margin-left: 100px;
          padding-left: 0;
        }
      }
      .card6 {
        margin-top: -50px;
        margin-left: 70px;
        .p1 {
          font-size: 17px;
          padding-left: 0;
        }
        h1 {
          font-size: 32px;
          width: 500px;
          margin-left: 50px;
        }
        .p2 {
          font-size: 16px;
          width: 400px;
          margin-left: 100px;
        }
        a {
          display: block;
          text-align: center;
          margin-left: -710px;
          margin-bottom: 50px;
          img {
            margin-left: 340px;
          }
        }
      }
    }
  }
  footer {
    width: 100%;
    img {
      padding-left: 500px;
      padding-top: 25px;
    }
    .wrap7 {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      .card7 {
        padding-left: 70px;
      }
      .card8 {
        margin-top: 50px;
        margin-left: 0px;
        .p1 {
          font-size: 17px;
          text-align: center;
          margin-left: 200px;
          margin-bottom: 10px;
        }
        .p2 {
          font-size: 15px;
          width: 350px;
          text-align: center;
          margin-left: 220px;
        }
        input {
          padding-right: 200px;
          margin-left: 200px;
        }
        button {
          margin-left: -80px;
        }
      }
    }
    .card9 {
      display: flex;
      flex-wrap: wrap;
      .p3 {
        margin-left: 10px;
      }
      .icons {
        display: none;
      }
      .icons2 {
        display: flex;
        margin-top: 50px;
        align-items: center;
        padding-right: 50px;
        gap: 30px;
        img {
          margin-left: -500px;
        }
      }
    }
  }
}
@media (min-width: 770px) and (max-width: 990px) {
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      padding-left: 20px;
    }
    ul {
      display: flex;
    }
    form {
      .b1 {
        display: block;
      }
      .b2 {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
    }
    article {
      display: none;
      padding-right: 20px;
      font-size: 20px;
    }
  }
  .wrapper {
    width: 100%;
    .p1 {
      font-size: 15px;
      top: 170px;
      left: 25px;
    }
    h1 {
      font-size: 32px;
      top: 200px;
      left: 25px;
      width: 240px;
      line-height: 30px;
    }
    .p2 {
      font-size: 17px;
      top: 265px;
      left: 25px;
      width: 420px;
      line-height: 20px;
    }
  }
  .wrapper2 {
    width: 100%;
    .shape {
      margin-left: 750px;
    }
    .shape2 {
      margin-top: -250px;
      margin-left: 100px;
    }
    .wrap1 {
      display: flex;
      flex-wrap: wrap;
      img {
        width: 900px;
        margin-top: -150px;
        margin-left: -25px;
      }
      .cards {
        .p1 {
          font-size: 17px;
          text-align: center;
          margin-top: -150px;
          padding-left: 250px;
        }
        h1 {
          font-size: 32px;
          text-align: center;
          margin-left: 250px;
        }
        .p2 {
          font-size: 15px;
          text-align: center;
          margin-left: 240px;
          width: 500px;
        }
        a {
          text-align: center;
          display: block;
          margin-left: 200px;
          img {
            display: block;
            width: 140px;
            margin-left: 190px;
            margin-top: -14px;
          }
        }
      }
    }
  }
  .wrapper3 {
    width: 100%;
    .shape2 {
      margin-left: 590px;
      width: 400px;
      height: 400px;
    }
    .shape3 {
      width: 450px;
      height: 400px;
    }
    .p1 {
      font-size: 17px;
    }
    h1 {
      font-size: 32px;
    }
    .p2 {
      font-size: 15px;
      margin-left: 290px;
      width: 400px;
    }
    .wrap2 {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0px;
      padding-left: 0px;
      gap: 0;
      .card1 {
        width: 330px;
        img {
          padding-left: 140px;
        }
      }
    }
  }
  .wrapper4 {
    width: 100%;
    .cards2 {
      .p1 {
        font-size: 17px;
        text-align: center;
      }
      h1 {
        font-size: 32px;
        text-align: center;
      }
      .p2 {
        font-size: 15px;
        margin-left: 290px;
        width: 400px;
      }
    }
    .wrap3 {
      margin-left: 80px;
      display: flex;
      gap: 50px;
    }
    .link {
      display: block;
      text-align: center;
      padding-left: 0;
      img {
        display: block;
        margin-left: 560px;
        margin-top: -15px;
      }
    }
  }
  .wrapper5 {
    width: 100%;
    img {
      width: 100%;
      height: 300px;
      margin-top: -20px;
    }
    .links {
      top: 220px;
      left: 380px;
      width: 600px;
      img {
        margin-top: 5px;
        display: flex;
        align-items: center;
        margin-left: 10px;
      }
      a {
        display: block;
      }
    }
  }
  .wrapper6 {
    width: 100%;
    .content2 {
      .p1 {
        font-size: 17px;
        text-align: center;
      }
      h1 {
        font-size: 32px;
        text-align: center;
      }
      .p2 {
        font-size: 15px;
        margin-left: 290px;
        width: 400px;
      }
      button {
        margin-left: 0;
        font-size: 17px;
        padding: 8px 16px;
        margin-left: 440px;
      }
    }
  }
  .wrapper7 {
    width: 100%;
    .p1 {
      font-size: 17px;
      text-align: center;
      padding-left: 0;
    }
    h1 {
      font-size: 32px;
      text-align: center;
      padding-left: 0;
    }
    .p2 {
      font-size: 15px;
      margin-left: 290px;
      width: 400px;
      text-align: center;
    }
    .wrap4 {
      display: flex;
      margin-left: 30px;
      .card3 {
        img {
          width: 460px;
        }
        p {
          font-size: 20px;
          line-height: 20px;
          margin-top: 5px;
          padding-left: 10px;
          margin-bottom: 100px;
        }
      }
    }
    .wrap5 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .card44 {
        margin-top: -130px;
        margin-left: 0px;
      }
      .card444 {
        margin-top: -130px;
        margin-left: 180px;
      }
      .card4 {
        img {
          margin-left: -140px;
          padding-left: 0;
        }
        .text {
          margin-left: -80px;
          margin-right: 90px;
          .p1 {
            font-size: 12px;
            margin-left: 0px;
            margin-top: -90px;
          }
          .p2 {
            font-size: 12px;
            margin-left: 0px;
          }
        }
      }
    }
    a {
      margin-left: -250px;
      img {
        display: block;
        margin-left: 570px;
        margin-top: -14px;
      }
    }
    .wrap6 {
      width: 100%;
      display: block;
      margin-top: 30px;
      .card5 {
        img {
          width: 550px;
          height: 550px;
          margin-left: 230px;
          padding-left: 0;
        }
      }
      .card6 {
        margin-top: -200px;
        .p1 {
          font-size: 17px;
          text-align: center;
        }
        h1 {
          font-size: 32px;
          text-align: center;
          margin-left: 240px;
          width: 500px;
        }
        .p2 {
          font-size: 16px;
          text-align: center;
          width: 500px;
          margin-left: 240px;
        }
        a {
          display: block;
          text-align: center;
          margin-left: -710px;
          margin-bottom: 50px;
        }
      }
    }
  }
  footer {
    width: 100%;
    img {
      padding-left: 400px;
      padding-top: 25px;
    }
    .wrap7 {
      display: flex;
      flex-wrap: wrap;
      .card7 {
        padding-left: 160px;
      }
      .card8 {
        margin-top: 50px;
        margin-left: 100px;
        .p1 {
          font-size: 17px;
          text-align: center;
          margin-left: 200px;
          margin-bottom: 10px;
        }
        .p2 {
          font-size: 15px;
          width: 350px;
          text-align: center;
          margin-left: 220px;
        }
        input {
          padding-right: 200px;
          margin-left: 200px;
        }
        button {
          margin-left: -80px;
        }
      }
    }
    .card9 {
      display: flex;
      flex-wrap: wrap;
      .p3 {
        margin-left: 10px;
      }
      .icons {
        display: none;
      }
      .icons2 {
        display: flex;
        margin-left: -500px;
        margin-top: 50px;
        align-items: center;
        img {
          margin-left: -500px;
        }
      }
    }
  }
}
@media (min-width: 448px) and (max-width: 769px) {
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      padding-left: 20px;
    }
    ul {
      display: none;
    }
    form {
      .b1 {
        display: none;
      }
      .b2 {
        display: none;
      }
    }
    article {
      display: block;
      padding-right: 20px;
      font-size: 20px;
    }
  }
  .wrapper {
    width: 100%;
    .p1 {
      font-size: 13px;
      top: 170px;
      left: 25px;
    }
    h1 {
      font-size: 30px;
      top: 195px;
      left: 25px;
      width: 220px;
      line-height: 25px;
    }
    .p2 {
      font-size: 15px;
      top: 250px;
      left: 25px;
      width: 400px;
      line-height: 15px;
    }
  }
  .wrapper2 {
    width: 100%;
    .shape {
      margin-left: 550px;
    }
    .shape2 {
      margin-top: -200px;
    }
    .wrap1 {
      display: flex;
      flex-wrap: wrap;
      img {
        width: 800px;
        margin-top: -150px;
        margin-left: -75px;
      }
      .cards {
        .p1 {
          font-size: 17px;
          text-align: center;
          margin-top: -150px;
          padding-left: 150px;
        }
        h1 {
          font-size: 32px;
          text-align: center;
          margin-left: 150px;
        }
        .p2 {
          font-size: 15px;
          text-align: center;
          margin-left: 130px;
          width: 500px;
        }
        a {
          text-align: center;
          display: block;
          margin-left: 100px;
          img {
            display: block;
            width: 140px;
            margin-left: 190px;
            margin-top: -14px;
          }
        }
      }
    }
  }
  .wrapper3 {
    width: 100%;
    .shape2 {
      margin-left: 367px;
      width: 400px;
      height: 400px;
    }
    .shape3 {
      width: 450px;
      height: 400px;
    }
    .p1 {
      font-size: 17px;
    }
    h1 {
      font-size: 32px;
    }
    .p2 {
      font-size: 15px;
      margin-left: 190px;
      width: 400px;
    }
    .wrap2 {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0px;
      .card1 {
        width: 365px;
        img {
          padding-left: 150px;
        }
      }
    }
  }
  .wrapper4 {
    width: 100%;
    .cards2 {
      .p1 {
        font-size: 17px;
        text-align: center;
      }
      h1 {
        font-size: 32px;
        text-align: center;
      }
      .p2 {
        font-size: 15px;
        margin-left: 180px;
        width: 400px;
      }
    }
    .wrap3 {
      margin-left: 15px;
      .card2 {
        .content {
          width: 360px;
        }
        .content2 {
          width: 360px;
        }
        .content3 {
          width: 360px;
        }
        .content4 {
          width: 360px;
        }
        .content5 {
          width: 360px;
        }
        .content6 {
          width: 360px;
        }
      }
    }
    .link {
      display: block;
      text-align: center;
      padding-left: 0;
      img {
        display: block;
        margin-left: 455px;
        margin-top: -15px;
      }
    }
  }
  .wrapper5 {
    width: 100%;
    img {
      width: 100%;
      height: 300px;
      margin-top: -20px;
    }
    .links {
      top: 220px;
      left: 150px;
      width: 600px;
      img {
        margin-top: 5px;
        display: flex;
        align-items: center;
        margin-left: 10px;
      }
      a {
        display: block;
      }
    }
  }
  .wrapper6 {
    width: 100%;
    .content2 {
      .p1 {
        font-size: 17px;
        text-align: center;
      }
      h1 {
        font-size: 32px;
        text-align: center;
      }
      .p2 {
        font-size: 15px;
        margin-left: 180px;
        width: 400px;
      }
      button {
        margin-left: 0;
        font-size: 15px;
        padding: 8px 16px;
        margin-left: 330px;
      }
    }
  }
  .wrapper7 {
    width: 100%;
    .p1 {
      font-size: 17px;
      text-align: center;
      padding-left: 0;
    }
    h1 {
      font-size: 32px;
      text-align: center;
      padding-left: 0;
    }
    .p2 {
      font-size: 15px;
      margin-left: 180px;
      width: 400px;
      text-align: center;
    }
    .wrap4 {
      display: block;
      margin-left: 130px;
      .card3 {
        img {
          width: 500px;
        }
        p {
          font-size: 20px;
          line-height: 20px;
          margin-top: 5px;
          padding-left: 10px;
          margin-bottom: 100px;
        }
      }
    }
    .wrap5 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .card44 {
        margin-top: -930px;
        margin-left: 100px;
      }
      .card444 {
        margin-top: -190px;
        margin-left: 100px;
      }
      .card4 {
        img {
          margin-left: -140px;
          padding-left: 0;
        }
        .text {
          margin-left: -80px;
          margin-right: 90px;
          .p1 {
            font-size: 12px;
            margin-left: 0px;
            margin-top: -90px;
          }
          .p2 {
            font-size: 12px;
            margin-left: 0px;
          }
        }
      }
    }
    a {
      margin-left: -380px;
      img {
        display: block;
        margin-left: 440px;
        margin-top: -13px;
      }
    }
    .wrap6 {
      width: 100%;
      display: block;
      margin-top: 30px;
      .card5 {
        img {
          width: 500px;
          height: 500px;
          margin-left: 130px;
          padding-left: 0;
        }
      }
      .card6 {
        margin-top: -200px;
        .p1 {
          font-size: 17px;
          text-align: center;
        }
        h1 {
          font-size: 32px;
          text-align: center;
          margin-left: 140px;
          width: 500px;
        }
        .p2 {
          font-size: 16px;
          text-align: center;
          width: 400px;
          margin-left: 200px;
        }
        a {
          display: block;
          text-align: center;
          margin-left: -630px;
          margin-bottom: 50px;
        }
      }
    }
  }
  footer {
    width: 100%;
    img {
      padding-left: 300px;
      padding-top: 25px;
    }
    .wrap7 {
      display: flex;
      flex-wrap: wrap;
      .card7 {
        padding-left: 110px;
      }
      .card8 {
        margin-top: 50px;
        margin-left: 0;
        .p1 {
          font-size: 17px;
          text-align: center;
          margin-left: 200px;
          margin-bottom: 10px;
        }
        .p2 {
          font-size: 15px;
          width: 350px;
          text-align: center;
          margin-left: 220px;
        }
        input {
          padding-right: 200px;
          margin-left: 200px;
        }
        button {
          margin-left: -80px;
        }
      }
    }
    .card9 {
      display: flex;
      flex-wrap: wrap;
      .p3 {
        margin-left: 170px;
      }
      .icons {
        display: none;
      }
      .icons2 {
        display: flex;
        margin-left: 90px;
        margin-top: 50px;
        img {
          margin-left: -200px;
        }
      }
    }
  }
}
@media (max-width: 447px) {
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      padding-left: 20px;
    }
    ul {
      display: none;
    }
    form {
      .b1 {
        display: none;
      }
      .b2 {
        display: none;
      }
    }
    article {
      display: block;
      padding-right: 20px;
      font-size: 20px;
    }
  }
  .wrapper {
    width: 100%;
    .p1 {
      font-size: 8px;
      top: 120px;
      left: 25px;
    }
    h1 {
      font-size: 20px;
      top: 145px;
      left: 25px;
      width: 200px;
      line-height: 25px;
    }
    .p2 {
      font-size: 10px;
      top: 200px;
      left: 25px;
      width: 300px;
      line-height: 15px;
    }
  }
  .wrapper2 {
    width: 100%;
    .shape {
      margin-left: 100px;
    }
    .shape2 {
      margin-top: -200px;
    }
    .wrap1 {
      display: flex;
      flex-wrap: wrap;
      img {
        width: 500px;
        margin-top: -100px;
        margin-left: -85px;
      }
      .cards {
        .p1 {
          font-size: 12px;
          text-align: center;
          margin-top: -150px;
        }
        h1 {
          font-size: 27px;
          text-align: center;
        }
        .p2 {
          font-size: 13px;
          text-align: center;
          margin-left: 25px;
        }
        a {
          text-align: center;
          display: block;
          img {
            display: none;
          }
        }
      }
    }
  }
  .wrapper3 {
    width: 100%;
    .shape2 {
      margin-left: 40px;
      width: 400px;
      height: 400px;
    }
    .shape3 {
      width: 450px;
      height: 400px;
    }
    .p1 {
      font-size: 12px;
    }
    h1 {
      font-size: 27px;
    }
    .p2 {
      font-size: 13px;
      margin-left: 45px;
      width: 350px;
    }
    .wrap2 {
      display: block;
      margin-left: 35px;
    }
  }
  .wrapper4 {
    width: 100%;
    .cards2 {
      .p1 {
        font-size: 12px;
        text-align: center;
      }
      h1 {
        font-size: 27px;
        text-align: center;
      }
      .p2 {
        font-size: 13px;
        margin-left: 50px;
        width: 350px;
      }
    }
    .wrap3 {
      margin-left: 35px;
    }
    .link {
      display: block;
      text-align: center;
      padding-left: 0;
      img {
        display: none;
      }
    }
  }
  .wrapper5 {
    width: 100%;
    img {
      width: 100%;
      height: 300px;
      margin-top: -20px;
    }
    .links {
      top: 220px;
      left: 120px;
      width: 200px;
      img {
        margin-top: 5px;
        display: flex;
        align-items: center;
        margin-left: 15px;
      }
      a {
        display: none;
      }
    }
  }
  .wrapper6 {
    width: 100%;
    .content2 {
      .p1 {
        font-size: 12px;
        text-align: center;
      }
      h1 {
        font-size: 27px;
        text-align: center;
      }
      .p2 {
        font-size: 13px;
        margin-left: 45px;
        width: 350px;
      }
      button {
        margin-left: 0;
        font-size: 13px;
        padding: 8px 16px;
        margin-left: 175px;
      }
    }
  }
  .wrapper7 {
    width: 100%;
    .p1 {
      font-size: 12px;
      text-align: center;
      padding-left: 0;
    }
    h1 {
      font-size: 27px;
      text-align: center;
      padding-left: 0;
    }
    .p2 {
      font-size: 13px;
      margin-left: 45px;
      width: 350px;
      text-align: center;
    }
    .wrap4 {
      display: block;
      margin-left: 25px;
      .card3 {
        img {
          width: 400px;
        }
        p {
          font-size: 15px;
          line-height: 17px;
          margin-top: 5px;
          padding-left: 10px;
          margin-bottom: 100px;
        }
      }
    }
    .wrap5 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .card44 {
        margin-top: -800px;
      }
      .card444 {
        margin-top: -190px;
      }
      .card4 {
        img {
          margin-left: -140px;
          padding-left: 0;
        }
        .text {
          margin-left: -80px;
          margin-right: 90px;
          .p1 {
            font-size: 12px;
            margin-left: 0px;
            margin-top: -90px;
          }
          .p2 {
            font-size: 12px;
            margin-left: 0px;
          }
        }
      }
    }
    a {
      margin-left: -510px;
      img {
        display: none;
      }
    }
    .wrap6 {
      width: 100%;
      display: block;
      margin-top: 30px;
      .card5 {
        img {
          width: 450px;
          height: 450px;
          padding-left: 0;
          background-color: blue;
        }
      }
      .card6 {
        margin-top: -200px;
        .p1 {
          font-size: 10px;
          text-align: center;
        }
        h1 {
          font-size: 27px;
          text-align: center;
          margin-left: 0px;
          width: 448px;
        }
        .p2 {
          font-size: 13px;
          text-align: center;
          width: 350px;
        }
      }
    }
  }
  footer {
    width: 100%;
    img {
      padding-left: 150px;
      padding-top: 25px;
    }
    .wrap7 {
      display: flex;
      flex-wrap: wrap;
      .card77 {
        margin-left: 100px;
      }
      .card7 {
        padding-left: 70px;
      }
      .card8 {
        margin-top: 20px;
        margin-left: 0;
        .p1 {
          font-size: 12px;
          text-align: center;
        }
        .p2 {
          font-size: 13px;
          width: 350px;
          text-align: center;
          margin-left: 50px;
        }
        input {
          padding-right: 150px;
          margin-left: 50px;
        }
        button {
          margin-left: -80px;
        }
      }
    }
    .card9 {
      display: flex;
      flex-wrap: wrap;
      .p3 {
        margin-left: 10px;
      }
      .icons2 {
        display: flex;
        img {
          margin-left: -80px;
        }
      }
    }
  }
}
