* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  display: flex;
}
.first-img {
  width: 128px;
  height: 39px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 136px;
}
%style_for_p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  padding-top: 30px;

  color: #444444;
}
.shop {
  @extend %style_for_p;
  padding-left: 252px;
  margin-right: 28px;
}
header p:nth-child(3) {
  @extend %style_for_p;
  margin-right: 28px;
}
header p:nth-child(4) {
  @extend %style_for_p;
  margin-right: 28px;
}
header p:nth-child(5) {
  @extend %style_for_p;
  margin-right: 34px;
}
header p:nth-child(6) {
  @extend %style_for_p;
  margin-right: 40px;
}
header p:nth-child(7) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 18px;
  margin-bottom: 17px;
  padding: 10px 18px 11px 18px;
  color: #ffffff;
  background: #575445;
  border-radius: 6px;
  margin-right: 20px;
}
.first-div {
  display: flex;
}
.header-button {
  display: flex;
  background: #575445;
  border-radius: 6px;
  padding-top: 13px;
  padding-bottom: 14px;
  margin-bottom: 17px;
  margin-top: 18px;
  gap: 8px;
}
.shopping-cart {
  width: 17px;
  height: 17px;
  margin-left: 18px;
}
.zero {
  width: 20px;
  height: 18px;
  margin-right: 18px;
}
.header-button p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}
.first-card {
  background-image: url(./images/first-image.png);
  width: 100%;
  height: 640px;
  background-size: cover;
}
.first-card p:nth-child(1) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #e6b939;
  padding-top: 218px;
  padding-left: 136px;
}
.first-card p:nth-child(2) {
  width: 616px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  padding-left: 136px;

  color: #ffffff;
}
.first-card p:nth-child(3) {
  width: 695px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  padding-left: 136px;

  color: #caccd1;
}
.second-card {
  width: 100%;

  display: flex;
  gap: 104px;
}
.second-card__image {
  width: 576px;
  height: 576px;
  margin-top: 100px;
  margin-left: 136px;
  position: relative;
}
.combined {
  position: absolute;
  left: 600px;
  top: 712px;
}
.p1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 274px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #e6b939;
}
.second-card__text p:nth-child(2) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  /* identical to box height, or 120% */

  color: #575445;
}
.second-card__text p:nth-child(3) {
  width: 404px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 8px;
  color: #575445;
}
.button-part {
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 4px;
}
.button-part img {
  width: 19px;
  height: 10px;
}
.button-part p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;

  color: #575445;
}
.third-card {
  width: 100%;
}
.third-card__p1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 99px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #e6b939;
}
.third-card__p2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  text-align: center;

  color: #575445;
}
.third-card__p3 {
  width: 550px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 7px;
  text-align: center;
  margin: 0 auto;
  color: #575445;
}
.third-card__cards {
  margin-top: 71px;
  margin-left: 187px;
  display: flex;
  flex-wrap: wrap;
  gap: 102px;
}
.third-card__card p:nth-child(2) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  text-align: center;

  color: #575445;
}
.third-card__card p:nth-child(3) {
  width: 287px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 9px;
  text-align: center;

  color: #575445;
}
.third-card img {
  margin-left: 100px;
}
.fourth-card {
  width: 100%;
}
.fourth-card p:nth-child(1) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 258px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #e6b939;
}
.fourth-card p:nth-child(2) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  text-align: center;

  color: #575445;
}
.fourth-card p:nth-child(3) {
  width: 538px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
  padding-top: 7px;
  text-align: center;

  color: #575445;
}
.fourth-card__images {
  margin-top: 21px;
  margin-left: 136px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 447px) {
  header {
    padding: 0;
    gap: 20px;
  }
}
